<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.jung.spring.ex.mvc.repository.UserRepository">
 	<select id="selectLastUser" resultType="com.jung.spring.ex.mvc.domain.User">
 		SELECT
 			`id`
 			, `name`
 			, `yyyymmdd`
 			, `email`
 			, `introduce`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`new_user`
 		ORDER BY
 			`id` DESC     <!-- 가장 최근에 등록된 행 조회 -->
 		LIMIT
 			1
 		
 	
 	
 	</select>
 	
 	
 	<insert id="insertUser" parameterType="map">
 	
 	INSERT INTO
 		`new_user`
 	(
 		`name`
 		, `yyyymmdd`
 		, `email`
 		, `introduce`	
 	)
 	VALUE
 	(
 		#{name}
 		, #{birthday}
 		, #{email}
 		, #{introduce}
 	)
 	</insert>
 	
 	
 	  <insert id="insertUserByObject" parameterType="com.jung.spring.ex.mvc.domain.User"
 	  useGeneratedKeys="true" keyProperty="id"> <!-- controller에서의 user 객체가 수행되고(지금같은경우에는 insert) 그것을 바로 조회할수 있게 수행된값이 id -->
 	INSERT INTO
 		`new_user`
 	(
 		`name`
 		, `yyyymmdd`
 		, `email`
 		, `introduce`	
 	)
 	VALUE
 	(	
 		#{name}
 		, #{yyyymmdd}  <!-- 이건 yyyymmdd여야한다 왜냐하면 객체로 전달받는거여서 User클래스의 멤버변수들과 이름이 같아야한다 -->
 		, #{email}
 		, #{introduce}
 	)
 	</insert> 
 	
 	<select id="selectCountByEmail" parameterType="string" resultType="int"> <!-- 갯수를 타입으로 받으니 int -->
 		SELECT
 			count(*)
 		FROM
 			`new_user`
 		WHERE
 			`email`= #{email};
 	</select>
 	
 	
 	
 
</mapper>