<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf 변수와 조건문</title>
</head>
<body>
	

	<h2>변수와 조건문</h2>
	
	
	<h2>1. 변수</h2>
	
	<div th:with="number=100"> <!-- 변수를 만들어주는거 (지역변수) -->
		<h4 th:text="${number}"></h4>
		<h4>[[${number}]]</h4> <!-- 이렇게 대가로 2개를 하게되면 JSP처럼 쓸수 있지만 "지양하는것이 좋음" -->
	</div>
	
	<!-- 변수가 선언된 태그 안에서만 사용가능 -->
	<h4 th:text="${number}"></h4> <!-- 지역변수여서 쓸수 없음 -->
	
	<h3>2. 태그 없이 thymeleaf 활용하기</h3>
	<!-- 랜더링 되지 않는 태그(굳이 태그로 감싸고 싶지 않을때 block속성을 이용하여 함 그러면 태그로 감싸지지않음 기능으로만 작용)  -->
	<th:block th:with="number1=200, number2=250">
		<h4 th:text="${number1}"></h4>
		<h4 th:text="${number1 + number2}"></h4> <!-- 이렇게 단순한 계산은 html에서 할수있게 (복잡한것은 지양할것) -->
		<!-- 결과 : 450 --> <!-- tip: parsing이라는걸 문자열을 막 자르고 그것을 이용하는 과정을 parsing이라는거 따라서 에러에서 parsing이라고 뜨면 html문법에서 오류가 나온다는걸 추측 -->
		<h4 th:text=" '결과 :' + ${number1 + number2}"></h4> <!-- 가독성이 떨어짐 -->
		<h4>결과 : [[${number1 + number2}]]</h4> <!-- 타임리프의 철학과 맞지않는거여서 안쓰는게 좋다 -->
		<h4 th:text="|결과 : ${number1 + number2}|"></h4> <!--  가독성도 좋고 철학에도 좀더 합리적인 형태 -->
	</th:block>

	<h3>3. 태그 나타내기</h3>
	<!-- html escape 처리한다고 한다 (태그안에 태그가 채워지면 형태가 특이해짐 (소스보기로 함 봐보자)) -->
	<div th:text="'<b>진한글씨</b>'"></div> <!-- '' 이걸로 묶어주면 문자열로써 처리 -->
	<div th:utext="'<b>진한글씨</b>'"></div>
	
	<h3>4. 조건문 = else if, else 없음!</h3><!-- 복잡한 조건을 화면에서 빼라는 철학이 담겨있는거 -->
	<th:block th:with="age=25">
		<h4 th:if="true">true 일때 해당 태그가 랜더링 된다.</h4>
		<h4 th:if="false">true 일때 해당 태그가 랜더링 된다.</h4>
		
		<h4 th:if="${age >= 20}">나이가 20이상이다.</h4>
		<h4 th:if="${age < 30}">30살보다 어리다</h4>
		<h4 th:if="${age == 25}">나이가 25살이다.</h4>
		
		<!-- unless - 부정 -->
		<h4 th:if="${age >= 20}">성인이다</h4>
		<h4 th:unless="${age >=20}">미성년이다.</h4> <!-- unless는 오히려 조건이 부합하지 않을때 화면에 뜨게 됨 -->
		
	</th:block>
	
	<h3>4. switch 문</h3>
	<th:block th:with="season='가을'"> <!-- 문자열이 포함되면 ''가 포함됨 -->
		<div th:switch="${season}">
			<h4 th:case="봄">따뜻하다.</h4> <!-- "" 안에 문자열만 있을때는 '' 생략가능 단, 변수가 들어갈때는 '' 해줘야함  -->
			<h4 th:case="여름">덥다.</h4>
			<h4 th:case="가을">시원하다.</h4>
			<h4 th:case="겨울">춥다.</h4>
			<h4 th:case="*">잘못된 계절입니다.</h4><!--  deafault값(즉 모든 경우가 아닌경우에는 이렇게 마지막에 넣어주는거) -->
		</div>
	</th:block>
	
	


</body>
</html>